h1{
  text-align: center;
  margin: 5px auto;   
  font-family: 'Anton', sans-serif;
  font-style: italic;
  color:red; 
  font-size: 300%;
    text-shadow: 2px 2px 2px #000000;
}

img{
/*  position: fixed;
  left: 100px;
  top: 100px;*/
  width: 180px;
  display: inline-block;
  margin: 0 auto;
}

.game-board, .game-info {  
  margin: 0 50px; 
  display: inline-block;
}

.game {
  width: 100%;  
  display: flex;
  flex-direction: column; 
}

.main-field { 
  margin: 0 auto;
  text-align: center;    
}

@import url('https://fonts.googleapis.com/css?family=Anton');







